<div id="spreadshop{data.uid}">
	<f:translate key="loading"></f:translate>
</div>
<f:variable name="startToken">{f:if(condition:'{settings.startToken}', then: 'startToken: \'{settings.startToken}\',')}</f:variable>
<f:variable name="usePushState">{f:if(condition:'{settings.usePushState}', then: 'true', else: 'false')}</f:variable>
<f:variable name="updateMetadata">{f:if(condition:'{settings.updateMetadata}', then: 'true', else: 'false')}</f:variable>
<f:variable name="swipeMenu">{f:if(condition:'{settings.swipeMenu}', then: 'true', else: 'false')}</f:variable>
<script>
	var spread_shop_config = {
		shopName: '<f:format.raw>{settings.name}</f:format.raw>',
		prefix: 'https://shop.spreadshirt.<f:format.raw>{settings.tld}</f:format.raw>',
		baseId: 'spreadshop' + '<f:format.raw>{data.uid}</f:format.raw>',
		locale: '<f:format.raw>{settings.locale}</f:format.raw>',
		<f:format.raw>{startToken}</f:format.raw>
		usePushState: <f:format.raw>{usePushState}</f:format.raw>,
		updateMetadata: <f:format.raw>{updateMetadata}</f:format.raw>,
		swipeMenu: <f:format.raw>{swipeMenu}</f:format.raw>
	};
</script>
<script type="text/javascript" src="{f:if(condition:'{settings.script} == \'eu\'', then:'https://shop.spreadshirt.net', else:'https://shop.spreadshirt.com')}/js/shopclient.nocache.js"></script>
